body{
    background-image: url(../../../../Imagenes/space.jpg);
    background-repeat:   no-repeat;
    /*background-size: cover;*/
}
.btn1{
    background: rgba(170, 9, 36, 0.507);
}
.btn2{
    background: rgba(62, 78, 218, 0.486);
}
.btn3{
    background: rgba(194, 67, 8, 0.37);
}
.btn4{
    background: rgba(72, 8, 190, 0.521);
}
.btn5{
    background: rgba(250, 1, 196, 0.308);
}
.btn1 , .btn2 , .btn3, .btn4 , .btn5{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: null;
    padding: 1em;
    opacity: 0.9;
    text-transform: uppercase;
    margin: 0.5em;
    }

    .btn1:hover{
        opacity: 2.0;
        background: rgba(170, 9, 36, 0.897);
    }
    .btn2:hover{
        opacity: 2.0;
        background: rgba(62, 78, 218, 0.904);
    }
    .btn3:hover{
        opacity: 2.0;
        background: rgba(194, 67, 8, 0.801);
    }
    .btn4:hover{
        opacity: 2.0;
        background: rgba(72, 8, 190, 0.849);
    }
    .btn5:hover{
        opacity: 2.0;
        background: rgba(250, 1, 196, 0.76);
    }
img{
    width: 6em;
    border-radius: 50%;
    margin: 8px;
}

.cont1{
    display: flex;
    justify-content: flex-end;
    
}

.cont2{
    display: flexbox;
    /*
     margin: 10px 13em;
    padding: 15em;
    
    */
    justify-content: center;
    align-content: center;
    margin: 10px 13em;
    text-align: center;
    padding: 15em;
    size: 15em;

}

.cont3{
    display: flex;
    justify-content: space-between;

}

h1{
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-weight: bold;
    background: rgba(105, 79, 139, 0.603);
    width: 300px;
    text-align: center;
    margin:auto;
    
}





