.btn1{
    background: $fushia;
}
.btn2{
    background: $blue;
}
.btn3{
    background: orange;
}

.btn1:hover{
    opacity: 2.0;
    background: $fushiaopc;
}
.btn2:hover{
    opacity: 2.0;
    background: $blueopc;
}
.btn3:hover{
    opacity: 2.0;
    background: rgba(194, 67, 8, 0.801);
}

.btn1 , .btn2 , .btn3{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: null;
    padding: 1em;
    opacity: 0.9;
    text-transform: uppercase;
    margin: 0.5em;
    }

    .cont1{
        display: flex;
        justify-content: flex-end;
        
    }